<template>
  <div class="row">
    <div class="col-md-4">
      <div class="md-layout-item">
        <md-field>
          <label for="filters">Filters</label>
          <md-select>
            <md-option
              v-for="filter in filters"
              :key="filter.id"
              v-bind:value="filter.id"
            >{{ filter.name }}</md-option>
          </md-select>
        </md-field>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      filters: {
        id: "",
        name: ""
      }
    };
  },
  mounted() {
    let headers = {
      "Content-Type": this.config.Authorization.json,
      Authorization: this.config.Authorization.bearerSchema + this.getToken()
    };
    axios
      .get(this.config.Authorization.url + "/api/filters", {
        headers: headers
      })
      .then(response => {
        console.log(response);
        this.filters = response.data;
      });
  }
};
</script>