<template>
    <div class="container text-center pt-5">
        <p>If you didn't receive a code yet, please click the button below to resend it</p>

    <form novalidate class="md-layout">
      <md-card-actions>
        <md-button class="md-primary" @click="resendLink">Resend link</md-button>
      </md-card-actions>

      <md-snackbar
        :md-position="position"
        :md-duration="isInfinity ? Infinity : duration"
        :md-active.sync="showSnackbar"
        md-persistent
      >
        <span>{{ snackbar.message }}</span>
        <md-button class="md-primary" @click="showSnackbar = false">Close</md-button>
      </md-snackbar>
    </form>
    </div>
</template>

<script>
import axios from "axios";

export default {
    data() {
    return {
      emailStored: localStorage.getItem("email"),
      sending: false,
      spinner: false,
      showSnackbar: false,
      position: "center",
      duration: 100000,
      isInfinity: false,
      snackbar: {
        show: false,
        message: null,
        color: null
      }
    };
  },
  methods: {
    resendLink() {
      let headers = {
        "Content-Type": this.config.Authorization.json
      };

      let params = {
        email: this.emailStored
      };

      axios
        .get(this.config.Authorization.url + "/api/accounts/:forgot-password", {
          params: params,
          headers: headers
        })
        .then(response => {
            console.log(response)
          this.snackbar = {
            message: "Your code has been sent",
            color: "error",
            show: true
          };
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
}
</script>

<style scoped>
 form {
     justify-content: center;
 }
</style>