<template>
  <div class="container text-center">
    <h1 class="mb-5 pt-5">Forgot password?</h1>
    <form novalidate class="md-layout" @submit.prevent="validateUser">
      <md-card class="md-layout-item md-size-50 md-small-size-100">
        <md-card-header>
          <div class="md-title">Forget password</div>
        </md-card-header>

        <md-card-content>
          <md-field :class="getValidationClass('email')">
            <label for="email">Email or username</label>
            <md-input
              type="email"
              name="email"
              id="email"
              autocomplete="off"
              v-model="form.email"
              :disabled="sending"
            />
            <span class="md-error" v-if="!$v.form.email.required">The email is required</span>
            <span class="md-error" v-else-if="!$v.form.email.email">Invalid email or username</span>
          </md-field>
        </md-card-content>

        <!-- <md-progress-bar md-mode="indeterminate" v-if="sending" />  -->
        <md-progress-spinner md-mode="indeterminate" v-if="sending"></md-progress-spinner>

        <md-card-actions>
          <md-button type="submit" class="md-primary" :disabled="sending">Send link</md-button>
        </md-card-actions>
      </md-card>

      <md-snackbar
        :md-position="position"
        :md-duration="isInfinity ? Infinity : duration"
        :md-active.sync="showSnackbar"
        md-persistent
      >
        <span>{{ snackbar.message }}</span>
        <md-button class="md-primary" @click="showSnackbar = false">Close</md-button>
      </md-snackbar>
    </form>
    <div>
      <button type="submit" class="md-primary fp-btn">
        <router-link :to="{ name: 'Login' }" append>Back to login</router-link>
      </button>
    </div>
  </div>
</template>


<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import axios from "axios";

export default {
  mixins: [validationMixin],
  data() {
    return {
      form: {
        email: null
      },
      sending: false,
      spinner: false,
      showSnackbar: false,
      position: "center",
      duration: 100000,
      isInfinity: false,
      snackbar: {
        show: false,
        message: null,
        color: null
      }
    };
  },
  validations: {
    form: {
      email: {
        required
      }
    }
  },
  methods: {
    getValidationClass(fieldName) {
      const field = this.$v.form[fieldName];

      if (field) {
        return {
          "md-invalid": field.$invalid && field.$dirty
        };
      }
    },
    clearForm() {
      this.$v.$reset();
      // this.form.email = null;
    },
    onSubmit() {
      this.spinner = true;

      let headers = {
        "Content-Type": this.config.Authorization.json
      };

      let params = {
          email: this.form.email
      }

      axios
        .get(this.config.Authorization.url + "/api/accounts/:forgot-password", {
            params: params, 
            headers: headers
        })
        .then(response => {
          console.log(response);
          this.spinner = false;
          localStorage.setItem('email', this.form.email)
            this.$router.push('/email-sent')
        })
        .catch(error => {
          console.log(error.response);
          if (error.response.data.errors) {
            this.snackbar = {
              message: error.response.data.errors.Email[0],
              color: "error",
              show: true
            };
            this.form.email = ''
          } else {
            this.snackbar = {
              message: error.response.data.message,
              color: "error",
              show: true
            };
          }
        });

      this.sending = true;

      // Instead of this timeout, here you can call your API
      window.setTimeout(() => {
        this.showSnackbar = true;
        this.sending = false;
        this.clearForm();
        console.log(this.form);
      }, 1500);
    },
    validateUser() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.onSubmit();
      }
      // console.log(this.form.email)
    }
  }
};
</script>


<style scoped>
.md-progress-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

form {
  justify-content: center;
}
.fp-btn {
  background-color: #5e97ff;
  border: none;
  margin-top: 20px;
  padding: 10px 20px;
  transition: 0.3s ease-in-out;
}

.fp-btn:hover {
  background-color: #4d88f3;
  transition: 0.3s ease-in-out;
}

.fp-btn a {
  color: #fff;
  font-weight: 600;
}

.fp-btn a:hover {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
</style>