<template>
  <div class="container text-center">
    <h1 class="mb-5 pt-5">Butterfly managment</h1>
    <form novalidate class="md-layout" @submit.prevent="validateUser">
      <md-card class="md-layout-item md-size-50 md-small-size-100">
        <md-card-header>
          <div class="md-title">Users</div>
        </md-card-header>

        <md-card-content>
          <md-field :class="getValidationClass('email')">
            <label for="email">Email or username</label>
            <md-input
              type="email"
              name="email"
              id="email"
              autocomplete="off"
              v-model="form.email"
              :disabled="sending"
            />
            <span class="md-error" v-if="!$v.form.email.required">The email is required</span>
            <span class="md-error" v-else-if="!$v.form.email.email">Invalid email or username</span>
          </md-field>

          <md-field :class="getValidationClass('password')">
            <label for="password">Password</label>
            <md-input
              type="password"
              name="password"
              id="password"
              v-model="form.password"
              :disabled="sending"
            />
            <span class="md-error" v-if="!$v.form.password.required">The password is required</span>
            <span
              class="md-error"
              v-else-if="!$v.form.password.minLength"
            >Your password must contain 6 characters</span>
          </md-field>
        </md-card-content>

        <!-- <md-progress-bar md-mode="indeterminate" v-if="sending" />  -->
        <md-progress-spinner md-mode="indeterminate" v-if="sending"></md-progress-spinner>

        <md-card-actions>
          <md-button type="submit" class="md-primary" :disabled="sending">Login</md-button>
        </md-card-actions>
      </md-card>

      <md-snackbar
        :md-position="position"
        :md-duration="isInfinity ? Infinity : duration"
        :md-active.sync="showSnackbar"
        md-persistent
      >
        <span>{{ snackbar.message }}</span>
        <md-button class="md-primary" @click="showSnackbar = false">Close</md-button>
      </md-snackbar>
    </form>
    <div class="mt-3 fp-link">
      <router-link :to="{ name: 'ForgetPassword' }" append>Forgot password?</router-link>
    </div>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, minLength } from "vuelidate/lib/validators";
import axios from "axios";

export default {
  name: "FormValidation",
  mixins: [validationMixin],
  data: () => ({
    form: {
      email: null,
      password: null
    },
    sending: false,
    spinner: false,
    showSnackbar: false,
    position: "center",
    duration: 10000,
    isInfinity: false,
    snackbar: {
      show: false,
      message: null,
      color: null
    }
  }),
  validations: {
    form: {
      password: {
        required,
        minLength: minLength(6)
      },
      email: {
        required
      }
    }
  },
  methods: {
    getValidationClass(fieldName) {
      const field = this.$v.form[fieldName];

      if (field) {
        return {
          "md-invalid": field.$invalid && field.$dirty
        };
      }
    },
    clearForm() {
      this.$v.$reset();
      // this.form.firstName = null;
      // this.form.lastName = null;
      // this.form.age = null;
      // this.form.gender = null;
      // this.form.email = null;
    },
    login() {
      this.sending = true;

      let headers = {
        "Content-Type": this.config.Authorization.json
      };

      let params = {
        email: this.form.email,
        password: this.form.password,
        grantType: "password",
        clientId: "bm-spa-client",
        clientSecret: "bm-spa",
        scope: "butterfly_management_service claims_service offline_access"
      };
      this.spinner = true;
      axios
        .post(this.config.Authorization.url + "/api/users/:login", params, {
          Headers: headers
        })
        .then(response => {
          console.log(response);
          localStorage.setItem("access_token", response.data.accessToken);
          this.spinner = false;
          this.getUserInfo();
        })
        .catch(error => {
          console.log(error.response);
          if (error.response.data.errors) {
            this.snackbar = {
              message: error.response.data.errors.Email[0],
              color: "error",
              show: true
            };
          } else {
            this.snackbar = {
              message: error.response.data.message,
              color: "error",
              show: true
            };
          }
        });

      // Instead of this timeout, here you can call your API
      window.setTimeout(() => {
        this.showSnackbar = true;
        this.sending = false;
        this.clearForm();
        console.log(this.form);
      }, 1500);
    },
    getUserInfo() {
      let headers = {
        "Content-Type": this.config.Authorization.jsonEncoded,
        Authorization:
          this.config.Authorization.basicSchema +
          this.config.Authorization.introSpect
      };

      let params = {
        token: this.getToken()
      };

      axios
        .post(
          this.config.Authorization.url + "/connect/introspect",
          this.$_json.stringify(params),
          {
            headers: headers
          }
        )
        .then(response => {
          if (response.data.active) {
            localStorage.setItem(
              "user",
              JSON.stringify({
                id: response.data.sub,
                firstName: response.data.firstName,
                lastName: response.data.lastName
              })
            );
            if(response.status === 200) {
              this.snackbar = {
                message: "You are logged in!",
                color: "success",
                show: true
              };
              this.$router.push({ name: "Dashboard" });
            }
          }
        })

        .catch(error => {
          console.log(error.response);
        });
    },
    validateUser() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.login();
      }
      // console.log(this.form.email)
    }
  },
};
</script>

<style scoped>
.md-progress-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

form {
  justify-content: center;
}

.fp-link a {
  color: #757575;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
</style>