<template>
  <div class="container text-center">
    <h1 class="mb-5 pt-5">Butterfly managment</h1>
    <form novalidate class="md-layout" @submit.prevent="validateUser">

      <md-field :class="getValidationClass('newPassword')">
        <label>New password</label>
        <md-input
          v-model="form.newPassword"
          type="password"
          :disabled="sending"
          :class="{ 'is-invalid': submitted && $v.form.newPassword.$error }"
        ></md-input>
        <div v-if="submitted && $v.form.newPassword.$error" class="invalid-feedback">
          <span v-if="!$v.form.newPassword.required">New Password is required</span>
          <span v-else-if="!$v.form.newPassword.minLength">Password must be at least 6 characters</span>
        </div>
      </md-field>

      <md-field :class="getValidationClass('confirmPassword')">
        <label>Confirm new password</label>
        <md-input
          v-model="form.confirmPassword"
          type="password"
          :disabled="sending"
          :class="{ 'is-invalid': submitted && $v.form.confirmPassword.$error }"
        ></md-input>
        <div v-if="submitted && $v.form.confirmPassword.$error" class="invalid-feedback">
          <span v-if="!$v.form.confirmPassword.required">Confirm Password is required</span>
          <span v-else-if="!$v.form.confirmPassword.sameAsPassword">Passwords must match</span>
        </div>
      </md-field>

      <md-button type="submit" class="md-raised md-primary" :disabled="sending">Change password</md-button>

      <md-snackbar
        :md-position="position"
        :md-duration="isInfinity ? Infinity : duration"
        :md-active.sync="showSnackbar"
        md-persistent
      >
        <span>{{ snackbar.message }}</span>
        <md-button class="md-primary" @click="showSnackbar = false">Close</md-button>
      </md-snackbar>
    </form>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, minLength, sameAs } from "vuelidate/lib/validators";
import axios from "axios";

export default {
  name: "FormValidation",
  mixins: [validationMixin],
  data: () => ({
    form: {
      newPassword: "",
      confirmPassword: ""
    },
    sending: false,
    submitted: false,
    spinner: false,
    showSnackbar: false,
    position: "center",
    duration: 10000,
    isInfinity: false,
    snackbar: {
      show: false,
      message: null,
      color: null
    }
  }),
  validations: {
    form: {
      newPassword: {
        required,
        minLength: minLength(6)
      },
      confirmPassword: {
        required,
        sameAsPassword: sameAs("newPassword")
      }
    }
  },
  methods: {
    getValidationClass(fieldName) {
      const field = this.$v.form[fieldName];

      if (field) {
        return {
          "md-invalid": field.$invalid && field.$dirty
        };
      }
    },
    clearForm() {
      this.$v.$reset();
      // this.form.firstName = null;
      // this.form.lastName = null;
      // this.form.age = null;
      // this.form.gender = null;
      // this.form.email = null;
    },
    resetPassword() {

      let headers = {
        "Content-Type": this.config.Authorization.json
      };
      console.log(headers);

      let params = {
        email: this.$route.query.email,
        token: this.$route.query.token,
        newPassword: this.form.newPassword
      };
      console.log(params)

      axios
        .post(
          this.config.Authorization.url + "​/api​/accounts​/:reset-password", params,
          { headers: headers }
        )
        .then(response => {
          console.log(response);
          console.log('success')
        })
        .catch(error => {
          console.log(error.response);
          console.log('error')
        });
      window.setTimeout(() => {
        this.showSnackbar = true;
        this.sending = false;
        this.clearForm();
        // console.log(this.form);
      }, 1500);
    },
    validateUser() {
      this.submitted = true;
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.resetPassword();
      }
    }
  }
};
</script>

<style scoped>
.md-progress-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

form {
  justify-content: left;
}

.fp-link a {
  color: #757575;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}


</style>