<template>
  <div>
    <div>
    <app-addmicroservice @updateData="update($event)" :id="ProjectId" ></app-addmicroservice>
      <div>
        <md-table md-card>
          <md-table-toolbar>
            <h1 class="md-title">Microservices</h1>
          </md-table-toolbar>
          <md-table-row>
            <md-table-head md-numeric>ID</md-table-head>
            <md-table-head>Name</md-table-head>
            <md-table-head>Number</md-table-head>
          </md-table-row>

          <md-table-row v-for="(microservice, i) in microserviceName" :key="i">
            <md-table-cell md-numeric>ID</md-table-cell>
            <md-table-cell>{{ microservice.name }}</md-table-cell>
            <md-table-cell>{{ microservice.id }}</md-table-cell>
            <md-table-cell><button @click="changeRoute(microservice.id)">Open api</button></md-table-cell>
          </md-table-row>
        </md-table>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import AddMicroservice from './AddMicroservice.vue'
export default {
  props: ["ProjectId"],
  name: "TableCard",
  data() {
    return {
      microserviceName: {
        name: "",
        id: ""
      }
    };
  },
  created() {
    let headers = {
 
 
 "Content-Type": this.config.Authorization.json,
      Authorization: this.config.Authorization.bearerSchema + this.getToken()
    };
    let params = {
      ProjectId: this.ProjectId
    };
    console.log(this.ProjectId)

    axios
      .get(this.config.Authorization.url + "/api/microservices", {
        params: params,
        headers: headers
      })
      .then(response => {
        this.microserviceName = response.data
        console.log(response)
      });
  },
  methods: {
      update(event) {
          this.microserviceName.push({
            name: event.name,
            id: event.id
          })
          console.log(event)
      },
      changeRoute(id) {
        this.$router.push({ name: 'MicroservicesApi', params : { id: id }})
      }
  },
   components: {
       appAddmicroservice: AddMicroservice
   }
};
</script>