<template>
  <div>
    <md-dialog-prompt
      :md-active.sync="active"
      v-model="value"
      md-title="Add new project"
      md-input-maxlength="50"
      md-input-placeholder="Write name of project"
      md-confirm-text="Agree"
      md-cancel-text="Disagree"
      @md-cancel="onCancel"
      @md-confirm="onConfirm"
    />

    <md-button class="md-primary md-raised" @click="active = true">Add project</md-button>

   <md-snackbar
      :md-position="position"
      :md-duration="isInfinity ? Infinity : duration"
      :md-active.sync="showSnackbar"
      md-persistent
    >
      <span>{{ snackbar.message }}</span>
      <md-button class="md-primary" @click="showSnackbar = false">Close</md-button>
    </md-snackbar>
      
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "DialogPrompt",
  data() {
    return {
      active: false,
      value: null,
      showSnackbar: false,
      position: "center",
      duration: 10000,
      isInfinity: false,
      snackbar: {
        show: false,
        message: null,
        color: null
      }
    };
  },
  methods: {
    onCancel() {
      this.value = "Disagreed";
    },
    onConfirm() {
      let headers = {
        "Content-Type": this.config.Authorization.json,
        Authorization: this.config.Authorization.bearerSchema + this.getToken()
      };
      console.log(headers);
      let params = {
        name: this.value
      };

      axios
        .post(this.config.Authorization.url + "/api/projects", params, {
          headers: headers
        })
        .then(response => {
          // console.log(response);
          // this.value = "";
          this.$emit('updateData', { "id" : response.data, "name": this.value })
          // this.$router.push({ name: "GetProjects" });
        })
        .catch(error => {
          console.log(error.response);
          this.snackbar = {
            message: error.response.data.errors.Name[0],
            color: "error",
            show: true
          };

          window.setTimeout(() => {
            this.showSnackbar = true;
          }, 1500);
        });
    }
  }
};
</script>