<template>
  <div>

    <div>
      <app-projects @updateData="data($event)"></app-projects>
    </div>
    <div>
      <md-table md-card>
      <md-table-toolbar>
        <h1 class="md-title">Projects</h1>
      </md-table-toolbar>
      <md-table-row>
        <md-table-head md-numeric>ID</md-table-head>
        <md-table-head>Name</md-table-head>
        <md-table-head>Number</md-table-head>
      </md-table-row>

      <md-table-row v-for="(project, i) in projectsName" :key="i">
        <md-table-cell md-numeric>ID</md-table-cell>
        <md-table-cell>{{ project.name }}</md-table-cell>
        <md-table-cell>{{ project.id }}</md-table-cell>
         <md-table-cell><button @click="changeRoute(project.id)">Open</button></md-table-cell>
      </md-table-row>
    </md-table>
    </div>


  </div>
</template>

<script>
import axios from "axios";
import AddProject from './AddProject.vue';

export default {
  name: "TableCard",
  data() {
    return {
      projectsName: {
        name: "",
        id: ""
      }
    };
  },
  methods: {
    data(event) {
      this.projectsName.push(event);
      // console.log(event)
    },
    changeRoute(id) {
      this.$router.push({ name: 'Microservices', params: { ProjectId: id } })
    }
  },
  mounted() {
    let headers = {
      "Content-Type": this.config.Authorization.json,
      Authorization: this.config.Authorization.bearerSchema + this.getToken()
    };

    axios
      .get(this.config.Authorization.url + "/api/projects", {
        headers: headers
      })
      .then(response => {
        // this.info = response.data[3].name;
        this.projectsName = response.data;
        // console.log(this.projectsName);
        // console.log(response);
      })
      .catch(error => {
        console.log(error.response);
      });
  },
  components: {
    appProjects: AddProject
  }
};
</script>

