<template>
  <div class="container">
    <app-methods></app-methods>
  </div>
</template>


<script>
import Methods from './Methods'

export default {
  components: {
    appMethods: Methods
  }
};
</script>


<style scoped>

</style>