<template>
  <div class="container">
    <app-methods></app-methods>

    <md-table md-card>
      <md-table-row>
        <md-table-head></md-table-head>

      </md-table-row>

      <md-table-row v-for="(method, i) in methods" :key="i">
        <md-table-cell>{{ method.name }}</md-table-cell>
      </md-table-row>
    </md-table>
  </div>
</template>


<script>
import Methods from './Methods'
import axios from "axios";

export default {
      data() {
    return {
      methods: {
        name: "",
      },
    };
  },
  mounted() {
    let headers = {
      "Content-Type": this.config.Authorization.json,
      Authorization: this.config.Authorization.bearerSchema + this.getToken(),
    };
    axios.get(this.config.Authorization.url + "/api/methods", { headers : headers })
    .then(response => {
        this.methods = response.data;
        console.log(this.methods)
    });
  },
  components: {
    appMethods: Methods
  }
};
</script>


<style scoped>

</style>