<template>
  <div class="container">
    <app-methods></app-methods>
  </div>
</template>


<script>
import axios from "axios";

export default {
  data() {
    return {
      methods: {
        name: "",
      },
    };
  },
  mounted() {
    let headers = {
      "Content-Type": this.config.Authorization.json,
      Authorization: this.config.Authorization.bearerSchema + this.getToken(),
    };
    axios.get(this.config.Authorization.url + "/api/methods", { headers : headers })
    .then(response => {
        this.methods = response.data;
        console.log(this.methods)
    });
  },
};
</script>


<style scoped>
th.md-table-head {
    width: 33%;
}
</style>