<template>
  <div class="container text-center">
    <h1 class="mb-5 pt-5">Butterfly managment</h1>
    <form novalidate class="md-layout" @submit.prevent="validateUser">
      <md-field :class="getValidationClass('oldPassword')">
        <label>Old password</label>
        <md-input
          v-model="form.oldPassword"
          type="password"
          :disabled="sending"
          :class="{ 'is-invalid': submitted && $v.form.oldPassword.$error }"
        ></md-input>
        <div v-if="submitted && $v.form.oldPassword.$error" class="invalid-feedback">
          <span v-if="!$v.form.oldPassword.required">Password is required</span>
          <span v-else-if="!$v.form.oldPassword.minLength">Password must be at least 6 characters</span>
        </div>
      </md-field>

      <md-field :class="getValidationClass('newPassword')">
        <label>New password</label>
        <md-input
          v-model="form.newPassword"
          type="password"
          :disabled="sending"
          :class="{ 'is-invalid': submitted && $v.form.newPassword.$error }"
        ></md-input>
        <div v-if="submitted && $v.form.newPassword.$error" class="invalid-feedback">
          <span v-if="!$v.form.newPassword.required">New Password is required</span>
          <span v-else-if="!$v.form.newPassword.minLength">Password must be at least 6 characters</span>
        </div>
      </md-field>

      <md-field :class="getValidationClass('confirmPassword')">
        <label>Confirm new password</label>
        <md-input
          v-model="form.confirmPassword"
          type="password"
          :disabled="sending"
          :class="{ 'is-invalid': submitted && $v.form.confirmPassword.$error }"
        ></md-input>
        <div v-if="submitted && $v.form.confirmPassword.$error" class="invalid-feedback">
          <span v-if="!$v.form.confirmPassword.required">Confirm Password is required</span>
          <span v-else-if="!$v.form.confirmPassword.sameAsPassword">Passwords must match</span>
        </div>
      </md-field>

      <md-button type="submit" class="md-raised md-primary" :disabled="sending">Change password</md-button>

      <md-snackbar
        :md-position="position"
        :md-duration="isInfinity ? Infinity : duration"
        :md-active.sync="showSnackbar"
        md-persistent
      >
        <span>{{ snackbar.message }}</span>
        <md-button class="md-primary" @click="showSnackbar = false">Close</md-button>
      </md-snackbar>
    </form>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, minLength, sameAs } from "vuelidate/lib/validators";
import axios from "axios";

export default {
  name: "FormValidation",
  mixins: [validationMixin],
  data: () => ({
    form: {
      oldPassword: "",
      newPassword: "",
      confirmPassword: ""
    },
    sending: false,
    submitted: false,
    spinner: false,
    showSnackbar: false,
    position: "center",
    duration: 10000,
    isInfinity: false,
    snackbar: {
      show: false,
      message: null,
      color: null
    }
  }),
  validations: {
    form: {
      oldPassword: {
        required,
        minLength: minLength(6)
      },
      newPassword: {
        required,
        minLength: minLength(6)
      },
      confirmPassword: {
        required,
        sameAsPassword: sameAs("newPassword")
      }
    }
  },
  methods: {
    getValidationClass(fieldName) {
      const field = this.$v.form[fieldName];

      if (field) {
        return {
          "md-invalid": field.$invalid && field.$dirty
        };
      }
    },
    clearForm() {
      this.$v.$reset();
      // this.form.firstName = null;
      // this.form.lastName = null;
      // this.form.age = null;
      // this.form.gender = null;
      // this.form.email = null;
    },
    changePassword() {
      //  this.sending = true;

      let headers = {
        "Content-Type": this.config.Authorization.json,
        Authorization: this.config.Authorization.bearerSchema + this.getToken()
      };
      console.log(headers);
      let params = {
        userId: JSON.parse(localStorage.getItem("user")).id,
        currentPassword: this.form.oldPassword,
        newPassword: this.form.newPassword
      };
      axios
        .put(
          this.config.Authorization.url + "/api/users/:change-password",
          params,
          { headers: headers }
        )
        .then(response => {
          console.log(response);
          // this.form.oldPassword = this.form.newPassword = this.form.confirmPassword =
          //   "";
          // this.$router.push("/profile");

          this.sending = false;
          if (response.status === 200) {
            this.snackbar = {
              message: "Your password has been successfully changed",
              color: "error",
              show: true
            };
            this.form.oldPassword = this.form.newPassword = this.form.confirmPassword =
            "";
          }
        })
        .catch(error => {
          // this.sending = false;
          console.log(error.response);

          if(error.response.status === 400) {
            this.snackbar = {
            message: error.response.data.message,
            color: "error",
            show: true
          };
          }
          console.log(error.response.data.message);

          // console.log(error.response.data.message)
          // this.snackBarHelper.failure("Your password must contain at least eight characters, include uppercase, numbers and symbols")
        });
      window.setTimeout(() => {
        this.showSnackbar = true;
        this.sending = false;
        this.clearForm();
        console.log(this.form);
      }, 1500);
    },
    validateUser() {
      this.submitted = true;
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.changePassword();
      }
      // console.log(this.form.email)
    }
  }
};
</script>

<style scoped>
.md-progress-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

form {
  justify-content: left;
}

.fp-link a {
  color: #757575;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}


</style>