<template>

  <div>
    <app-example @updateValue="add($event)"></app-example>
    <p>{{ counter }}</p>
  </div>

</template>

<script>
import Example from './Example.vue'

export default {
  data() {
    return {
      counter: ''
    }
  },
  methods: {
    add(data) {
      this.counter = data
    }
  },
  components: {
    appExample: Example
  }
  }
</script>

