<template>
  <div class="container pt-3">
    <h3>Edit profile</h3>
    <form @submit.prevent="validateUser">
      <md-field>
        <label>Firstname</label>
        <md-input v-model="user.firstName"></md-input>
      </md-field>

      <md-field>
        <label>Lastname</label>
        <md-input v-model="user.lastName"></md-input>
      </md-field>

      <md-field>
        <label>Username</label>
        <md-input v-model="user.userName"></md-input>
      </md-field>

      <md-field>
        <label>Email</label>
        <md-input v-model="user.email"></md-input>
      </md-field>

      <md-snackbar
        :md-position="position"
        :md-duration="isInfinity ? Infinity : duration"
        :md-active.sync="showSnackbar"
        md-persistent
      >
        <span>{{ snackbar.message }}</span>
        <md-button class="md-primary" @click="showSnackbar = false">Close</md-button>
      </md-snackbar>
    </form>

    <button class="btn btn-primary" @click="editProfile">Save</button>
  </div>
</template>


<script>
import axios from "axios";

export default {
  data() {
    return {
      id: JSON.parse(localStorage.getItem("user")).id,
      user: {
        firstName: "",
        lastName: "",
        email: "",
        userName: ""
      },
      showSnackbar: false,
      position: "center",
      duration: 10000,
      isInfinity: false,
      snackbar: {
        show: false,
        message: null,
        color: null
      }
    };
  },
  mounted() {
    let headers = {
      "Content-Type": this.config.Authorization.json,
      Authorization: this.config.Authorization.bearerSchema + this.getToken()
    };
    let params = {
      id: JSON.parse(localStorage.getItem("user")).id
    };
    console.log(params);

    axios
      .get(this.config.Authorization.url + "/api/users/:id", {
        params: params,
        headers: headers
      })
      .then(response => {
        console.log(response);
        (this.user.firstName = response.data.firstName),
          (this.user.lastName = response.data.lastName),
          (this.user.email = response.data.email),
          (this.user.userName = response.data.userName);
      })
      .catch(error => {
        console.log(error.response);
      });
  },
  methods: {
    editProfile() {
      let headers = {
        "Content-Type": this.config.Authorization.json,
        Authorization: this.config.Authorization.bearerSchema + this.getToken()
      };
      console.log(headers);

      let params = {
        id: JSON.parse(localStorage.getItem("user")).id,
        firstName: this.user.firstName,
        lastName: this.user.lastName,
        email: this.user.email,
        userName: this.user.userName
      };
      console.log(params);

      axios
        .put(this.config.Authorization.url + "/api/users", params, {
          headers: headers
        })
        .then(response => {
          console.log(response);
          
          localStorage.setItem(
            "user",
            JSON.stringify({
              id: this.id,
              firstName: this.user.firstName,
              lastName: this.user.lastName,
            })
          );
          this.$emit("updateFullName", { "firstName":this.user.firstName, "lastName":this.user.lastName });
          this.$router.push({ name: "Profile" });
        })
        .catch(error => {
          console.log(error.response);
          //   console.log(error.response.data.errors.FirstName[0])
          if (error.response.status === 400) {
            if (error.response.data.errors["FirstName"]) {
              this.snackbar = {
                message: error.response.data.errors.FirstName[0],
                color: "error",
                show: true
              };
            } else if (error.response.data.errors["LastName"]) {
              this.snackbar = {
                message: error.response.data.errors.LastName[0],
                color: "error",
                show: true
              };
            } else if (error.response.data.errors["UserName"]) {
              this.snackbar = {
                message: error.response.data.errors.UserName[0],
                color: "error",
                show: true
              };
            } else if (error.response.data.errors["Email"]) {
              this.snackbar = {
                message: error.response.data.errors.Email[0],
                color: "error",
                show: true
              };
            }
          }
        });
      window.setTimeout(() => {
        this.showSnackbar = true;
      }, 1500);
    }
  }
};
</script>