<template>
  <div class="container">
    <md-card class="md-card-example">
      <md-card-area md-inset>
        <md-card-media md-ratio="16:9">
          <img src="../../assets/background.jpeg" alt="Coffee House" />
        </md-card-media>
        <md-card-header>
          <h2 class="md-title">{{ firstname }} {{ lastname }}</h2>
          <div class="md-subhead">
            <md-icon>mail</md-icon>
            <span>{{ firstname }} {{ lastname }}</span>
          </div>
        </md-card-header>

        <md-card-content>Illy Coffee served with a complimentary Leonidas Belgian Chocolate with all beverages.</md-card-content>
      </md-card-area>

      <md-card-content>
        <h3 class="md-subheading">Today's availability</h3>
        <div class="card-reservation">
          <md-icon>access_time</md-icon>
          <div class="md-button-group">
            <router-link :to="{ name: 'EditProfile' }" append>Edit profile</router-link>
            <md-button>Change email</md-button>
            <md-button class="pd-left" :to="{ name: 'ChangePassword'}">Change password</md-button>
          </div>
        </div>
      </md-card-content>

      <md-card-actions>
        <md-button class="md-primary">Reserve</md-button>
      </md-card-actions>
    </md-card>
  </div>
</template>

<script>
export default {
  data() {
        return {
            firstname: this.getName().firstName,
            lastname: this.getName().lastName
        }
    },
methods: {
  getName() {
      return JSON.parse(localStorage.getItem('user')) 
    }
}
  
};
</script>

<style scoped>
.container {
  width: 500px;
}
.pd-left {
  margin-left: 8px !important;
}
</style>