<template>
  <div class="container">
    <form novalidate class="md-layout" @submit.prevent="validateUser">
      <md-card class="md-layout-item md-size-50 md-small-size-100">
        <md-card-header>
          <div class="md-title">Register user</div>
        </md-card-header>

        <md-card-content>
          <div class="md-layout md-gutter">
            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('firstName')">
                <label for="first-name">First Name</label>
                <md-input
                  name="first-name"
                  id="first-name"
                  autocomplete="given-name"
                  v-model="form.firstName"
                  :disabled="sending"
                />
                <span class="md-error" v-if="!$v.form.firstName.required">The first name is required</span>
                <span class="md-error" v-else-if="!$v.form.firstName.minlength">Invalid first name</span>
              </md-field>
            </div>

            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('lastName')">
                <label for="last-name">Last Name</label>
                <md-input
                  name="last-name"
                  id="last-name"
                  autocomplete="family-name"
                  v-model="form.lastName"
                  :disabled="sending"
                />
                <span class="md-error" v-if="!$v.form.lastName.required">The last name is required</span>
                <span class="md-error" v-else-if="!$v.form.lastName.minlength">Invalid last name</span>
              </md-field>
            </div>
          </div>

          <div class="md-layout md-gutter">
            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('role')">
                <label for="role">Role</label>
                <md-select v-model="form.role" name="role" id="role">
                  <md-option
                    v-for="role in roles"
                    :key="role.id"
                    v-bind:value="role.id"
                  >{{ role.name }}</md-option>
                </md-select>
                <span class="md-error" v-if="!$v.form.role.required">The role is required</span>
              </md-field>
            </div>

            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('userName')">
                <label for="user-name">Username</label>
                <md-input
                  name="first-name"
                  id="first-name"
                  autocomplete="given-name"
                  v-model="form.userName"
                  :disabled="sending"
                />
                <span class="md-error" v-if="!$v.form.userName.required">The username is required</span>
                <span class="md-error" v-else-if="!$v.form.userName.minlength">Invalid username</span>
              </md-field>
            </div>
          </div>

          <md-field :class="getValidationClass('email')">
            <label for="email">Email</label>
            <md-input
              type="email"
              name="email"
              id="email"
              autocomplete="email"
              v-model="form.email"
              :disabled="sending"
            />
            <span class="md-error" v-if="!$v.form.email.required">The email is required</span>
            <span class="md-error" v-else-if="!$v.form.email.email">Invalid email</span>
          </md-field>
        </md-card-content>

        <md-progress-bar md-mode="indeterminate" v-if="sending" />

        <md-card-actions>
          <md-button type="submit" class="md-primary" :disabled="sending">Create user</md-button>
        </md-card-actions>
      </md-card>

      <md-snackbar
        :md-position="position"
        :md-duration="isInfinity ? Infinity : duration"
        :md-active.sync="showSnackbar"
        md-persistent
      >
        <span>{{ snackbar.message }}</span>
        <md-button class="md-primary" @click="showSnackbar = false">Close</md-button>
      </md-snackbar>
    </form>
  </div>
</template>

<script>
import axios from "axios";
import { validationMixin } from "vuelidate";
import { required, email, minLength } from "vuelidate/lib/validators";

export default {
  name: "FormValidation",
  mixins: [validationMixin],
  data() {
    return {
      form: {
        firstName: null,
        lastName: null,
        role: "",
        userName: null,
        email: null
      },
      roles: {
        name: "",
        id: ""
      },
      sending: false,
      submitted: false,
      spinner: false,
      showSnackbar: false,
      position: "center",
      duration: 10000,
      isInfinity: false,
      snackbar: {
        show: false,
        message: null,
        color: null
      }
    };
  },
  validations: {
    form: {
      firstName: {
        required,
        minLength: minLength(3)
      },
      lastName: {
        required,
        minLength: minLength(3)
      },
      userName: {
        required,
        minLength: minLength(3)
      },
      role: {
        required
      },
      email: {
        required,
        email
      }
    }
  },
  methods: {
    getValidationClass(fieldName) {
      const field = this.$v.form[fieldName];

      if (field) {
        return {
          "md-invalid": field.$invalid && field.$dirty
        };
      }
    },
    saveUser() {
      this.sending = true;

      // Instead of this timeout, here you can call your API
      window.setTimeout(() => {
        this.lastUser = `${this.form.firstName} ${this.form.lastName}`;
        this.userSaved = true;
        this.sending = false;
      }, 1500);
    },
    validateUser() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.registerUser();
      }
    },
    registerUser() {
      let headers = {
        "Content-Type": this.config.Authorization.json,
        Authorization: this.config.Authorization.bearerSchema + this.getToken()
      };
      let params = {
        firstName: this.form.firstName,
        lastName: this.form.lastName,
        username: this.form.userName,
        email: this.form.email,
        roleId: this.form.role
      };
      axios
        .post(this.config.Authorization.url + "/api/users", params, {
          headers: headers
        })
        .then(response => {
          console.log(response);
          this.sending = false;
          if (response.status === 200) {
            this.snackbar = {
              message: "You are registered",
              color: "error",
              show: true
            };
            this.$router.push({ name: "Users" });
          }
        })
        .catch(error => {
          // this.sending = false;
          console.log(error.response);

          // if (error.response.status === 400) {
          //   this.snackbar = {
          //     message: error.response.data.errors.Username,
          //     color: "error",
          //     show: true
          //   };
          // }
          if (error.response.status === 400) {
            if (error.response.data.errors["Email"] != null) {
              this.snackbar = {
                message: error.response.data.errors.Email[0],
                color: "error",
                show: true
              };
            } else if (error.response.data.errors["Username"]) {
              this.snackbar = {
                message: error.response.data.errors.Username[0],
                color: "error",
                show: true
              };
            }
          }
        });
      window.setTimeout(() => {
        this.showSnackbar = true;
        this.sending = false;
        console.log(this.form);
      }, 1500);
    }
  },
  mounted() {
    let headers = {
      "Content-Type": this.config.Authorization.json,
      Authorization: this.config.Authorization.bearerSchema + this.getToken()
    };

    axios
      .get(this.config.Authorization.url + "/api/roles", {
        headers: headers
      })
      .then(response => {
        this.roles = response.data;
        // console.log(response);
      })
      .catch(error => {
        console.log(error.response);
      });
  }
};
</script>

<style  scoped>
.md-progress-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

form {
  justify-content: center;
}
</style>