<template>
   <div class="container">
       <router-link to="/register-user" tag="button" class="ml-3 mb-3 btn btn-primary">Register user</router-link>
    <md-table md-card>
      <md-table-toolbar>
        <h1 class="md-title">Users</h1>
      </md-table-toolbar>
      <md-table-row>
        <md-table-head>First Name</md-table-head>
        <md-table-head>Last Name</md-table-head>
        <md-table-head>User Name</md-table-head>
        <md-table-head>Email</md-table-head>
      </md-table-row>

      <md-table-row v-for="(users, i) in usersName" :key="i">
        <md-table-cell>{{ users.firstName }}</md-table-cell>
        <md-table-cell>{{ users.lastName }}</md-table-cell>
        <md-table-cell>{{ users.userName }}</md-table-cell>
        <md-table-cell>{{ users.email }}</md-table-cell>
      </md-table-row>
    </md-table>
  </div>
</template>

<script>
import axios from "axios";

export default {
    data() {
        return {
            usersName: {
                firstName:'',
                lastName:'',
                userName:'',
                email:''
            }
        }
    },
    mounted() {
        let headers = {
            "Content-Type": this.config.Authorization.json,
            Authorization: this.config.Authorization.bearerSchema + this.getToken()
        };
        axios
        .get(this.config.Authorization.url + "/api/users", {headers:headers})
        .then(response => {
            this.usersName = response.data;
            console.log(this.usersName)
        })
    }
}
</script>