<template>
  <div id="app">
    <component :is="layout">
      <router-view></router-view>
    </component>
  </div>
</template>

<script>

export default {
  computed: {
    layout () {
      return this.$route.meta.layout;
    }
  }
  // ButterflyM#2020!
}
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Material+Icons");
</style>
