<template>
  <div class="page-container">
    <md-app class="dashboard">
      <md-app-toolbar class="md-primary" md-elevation="0">
        <md-button class="md-icon-button" @click="toggleMenu" v-if="!menuVisible">
          <md-icon>menu</md-icon>
        </md-button>
        <span class="md-title span">Butterfly managment</span>
        <md-avatar>
          <img src="../assets/123.jpg" alt="Avatar" />
          <md-tooltip md-direction="bottom">{{ firstname }} {{ lastname }}</md-tooltip>
        </md-avatar>
        <md-menu md-direction="bottom-end">
          <md-button class="btn-profile" md-menu-trigger>{{ firstname }} {{ lastname }}</md-button>

          <md-menu-content>
            <md-menu-item :to="{ name: 'Profile' }">Profile</md-menu-item>
            <md-menu-item :to="{ name: 'ChangePassword' }">Change password</md-menu-item>
            <md-menu-item @click="logOut">Log out</md-menu-item>
          </md-menu-content>
        </md-menu>

      </md-app-toolbar>

      <md-app-drawer :md-active.sync="menuVisible" md-persistent="mini">
        <md-toolbar class="md-transparent" md-elevation="0">
          <span>Navigation</span>

          <div class="md-toolbar-section-end">
            <md-button class="md-icon-button md-dense" @click="toggleMenu">
              <md-icon>keyboard_arrow_left</md-icon>
            </md-button>
          </div>
        </md-toolbar>

        <md-list>
          <md-list-item :to="{ name: 'Projects' }">
            <md-icon>email</md-icon>
            <span class="md-list-item-text">Projects</span>
          </md-list-item>

          <md-list-item :to="{ name: 'Users' }">
            <md-icon>person</md-icon>
            <span class="md-list-item-text">User</span>
          </md-list-item>
        </md-list>
      </md-app-drawer>

      <md-app-content>
        <router-view @updateFullName="updateEvent($event)"></router-view>
      </md-app-content>
    </md-app>
  </div>
</template>

<script>
export default {
  name: "PersistentMini",
  data() {
    return {
      menuVisible: false,
      firstname: this.getName().firstName,
      lastname: this.getName().lastName,
    }
  },
  methods: {
    toggleMenu() {
      this.menuVisible = !this.menuVisible;
    },
    getName() {
      return JSON.parse(localStorage.getItem("user"));
    },
    logOut() {
        localStorage.clear();
        this.$router.push('/login')
    },
    updateEvent(event) {
      this.firstname = event.firstName;
      this.lastname = event.lastName;
    }
  }
};
</script>

<style scoped>
.md-app {
  min-height: 350px;
  border: 1px solid rgba(#000, 0.12);
}

.md-drawer {
  width: 230px;
  max-width: calc(100vw - 125px);
}

.md-avatar img {
  object-fit: cover !important;
}
@media (max-width: 960px) {
.dashboard .md-toolbar {
    height: 64px !important;
}
}
.md-avatar {
    margin-right: 10px !important;
}

.md-app {
    min-height: 949px !important;
}
</style>