<template>
<div id="app">
  <div class="container">
    <h2>Butterfly - Account microservice APIs</h2>
    <app-filter></app-filter>
    <app-tabs></app-tabs>
  </div>
</div>
</template>

<script>
import Tabs from './Tabs.vue'
import Filter from '../Filters/Filter.vue'
// import axios from "axios";
export default {
  name: 'TabContent',
   props: ['id'],
   data() {
       return {
           activeItem: 'home'
       }
   },
//      methods: {
//              isActive (menuItem) {
//                  return this.activeItem  === menuItem
//              },
//              setActive (menuItem) {
//                  this.activeItem = menuItem
//              }, 
//              todoTab() {
//                let headers = {
//                   "Content-Type": this.config.Authorization.json,
//                   Authorization: this.config.Authorization.bearerSchema + this.getToken()
//                };
//                let params = {
//                  MicroserviceId: this.id
//                }
//                console.log(headers)
//                console.log(params)
//          }
// },
components: {
  appTabs: Tabs,
  appFilter: Filter
}
}
</script>