<template>
    <div>
        <ul class="nav nav-tabs nav-justified">
      <li class="nav-item">
        <a class="nav-link" @click.prevent="setActive('todo')" :class="{ active: isActive('todo') }" href="#todo">TO DO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" @click.prevent="setActive('developing')" :class="{ active: isActive('developing') }" href="#developing">DEVELOPING</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" @click.prevent="setActive('done')" :class="{ active: isActive('done') }" href="#done">DONE</a>
      </li>
    </ul>
    <div class="tab-content py-3" id="myTabContent">
      <div class="tab-pane fade" :class="{ 'active show': isActive('todo') }" id="todo"><app-todo></app-todo></div>
      <div class="tab-pane fade" :class="{ 'active show': isActive('developing') }" id="developing"><app-developing></app-developing></div>
      <div class="tab-pane fade" :class="{ 'active show': isActive('done') }" id="done"><app-done></app-done></div>
    </div>
    </div>
</template>

<script>
import Developing from './Tabs/Developing.vue'
import Done from './Tabs/Done.vue'
import Todo from './Tabs/Todo.vue'
export default {   
  name: 'TabContent',
    data() {
       return {
           activeItem: 'todo'
       }
   },
    
         methods: {
             isActive (menuItem) {
                 return this.activeItem  === menuItem
             },
             setActive (menuItem) {
                 this.activeItem = menuItem
             }, 
},
components: {
  appDeveloping: Developing,
  appTodo: Todo,
  appDone: Done
}
}
</script>


<style scoped>
.nav-link.active {
  border-bottom: 2px solid #448aff;
}
.md-theme-default a:not(.md-button):hover {
  text-decoration: none;
  color: #448aff
}
</style>